extends layout

block content
  h1= title
  p Welcome to #{title}. My Name is Tejeswar Bobba. I like playing cricket.
  button(type="button", class="btn btn-warning", onclick="goFaster()") Press me for contents
  div(id="faster") Increase the speed

  script.
    console.log("running on http://localhost:3000/")
    let mph = 20;
    let change = 1;
    function goFaster(){
       mph = mph + change;
       change = change + 1;
       document.getElementById("faster").innerHTML = "MPH " + mph +" with change" + change
    }