extends layout
block content
  h1= title

  form(id='watchForm', action="/resource/watchs", method="POST")
    div.form-group
      label.watchAttr(for='Name') watch type
      input#Name(type='text', name='Name')
    div.form-group
      label.watchAttr(for='Model') watch Model
      input#Model(type='text', name='Model')
    div.form-group
      label.watchAttr(for='Price') watch Price
      input#Price(type='number', name='Price')
    input(type="submit")
  script.
    document.forms['watchForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });