extends layout
block content
  h1= title
  - let watchid = toShow._id
  - let watchName = toShow.Name
  - let watchPrice = toShow.Price
  - let watchModel = toShow.Model
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{watchid}
  - let actionid = "/resource/watchs/" + watchid
  form(id='watchForm', action= actionid, method="PUT")
    div.form-group
      label.watchAttr(for='Name') watch Name
      input#Name(type='text', name='Name', value= Name )
    div.form-group
      label.watchAttr(for='Model') watch Model
      input#Model(type='text', name='Model', value= Model )
    div.form-group
      label.watchAttr(for='Price') watch cost
      input#Price(type='number', name='Price', value= Price )
    input(type="submit")
  script.
    document.forms['watchForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'PUT',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Update succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Update failed " + error )
    });
    });