extends layout
block content
  h1= title
  - var item = results
  div(class="container-fluid")
     div(class="row")
     each watch in item
        div(class="row")
           div(class="col-sm-2") #{watch.Name}
           div(class="col-sm-2") #{watch.Model}
           div(class="col-sm-2") #{watch.Price}
